* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.background-header {
    height: 90vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

.btn {
    height: 90px;
    border: 2px solid #000;
    cursor: pointer;
}

.btn-tomato {
    background: #ff6347;
}
.btn-violet {
    background: #ee82ee;
}
.btn-wheat {
    background: #f5deb3;
}
.btn-yellow {
    background: #ffff00;
}
.btn-yellowgreen {
    background: #9acd32;
}