@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    height: 100vh;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: rgb(45, 48, 58);
}

.wrapper {
    display: flex;
    height: 100%;
}

.sidebar {
    position: absolute;
    width: 220px;
    padding: 20px;
}

.content {
    padding: 50px;
    flex: 1;
    background: #fff;
    box-shadow: 0 0 5px #000;
    transform: translateX(0);
    transition: .3s;
}

.content.isOpen {
    transform: translateX(220px);
}

.button svg {
    width: 40px;
}
.button line {
    stroke: black;
    stroke-width: 5;
}

h1 {
    margin-top: 25px;
    font-size: 40px;
}

ul.nav {
    list-style: none;
}
ul.nav li a {
    position: relative;
    display: block;
    margin-bottom: 5px;
    padding: 16px 0 16px 50px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
ul.nav li a:hover,
ul.nav li a.active {
    background: rgba(0, 0, 0, 0.3);
}

ul.nav li a::before {
    font: 14px fontawesome;
    position: absolute;
    top: 15px;
    left: 20px;
}

ul.nav li:nth-child(1) a::before { content: '\f00a'; }
ul.nav li:nth-child(2) a::before { content: '\f012'; }
ul.nav li:nth-child(3) a::before { content: '\f0e8'; }
ul.nav li:nth-child(4) a::before { content: '\f0c3'; }
ul.nav li:nth-child(5) a::before { content: '\f022'; }
ul.nav li:nth-child(6) a::before { content: '\f115'; }
ul.nav li:nth-child(7) a::before { content: '\f085'; }
ul.nav li:nth-child(8) a::before { content: '\f023'; left: 23px }