* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
}

.accordionWrapper {
    padding: 30px;
    background: #fff;
    width: 80%;
    margin: 10%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.accordionItemHeading {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    background: #2980b9;
    color: #fff;
    width: 100%;
    border-radius: 3px;
}

.close .accordionItemContent {
    height: 0;
    visibility: hidden;
}

.open .accordionItemHeading {
    margin: 0px;
    background-color: #333;
    color: #fff;
}