* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.covered {
    position: absolute;
    background: #040404;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ccc;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: center;
    height: 95vh;
    align-items: flex-end;
    list-style: none;
}

li {
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin: .5rem;
    overflow: hidden;
}

li img {
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 3px #555;
    border: 1px solid #eee;
    opacity: 1;
    transition: all .3s;
}

li img:hover {
    opacity: 0.7;
    transform: scale(1.1);
}